body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 30px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 30px;
    max-width: 520px;
    background: lightblue;
}

button {
    height: 90px;
    font-size: 20px;
    border-radius: 20px;
}

#display {
    display: flex;
    font-size: 70px;
    border-radius: 10px;
    border: 1px solid black;
    width: 100%;
    padding: 5px;
}

.operations {
    display: grid; 
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}
